/* otp.css */
body {
    background-color: #fee8c3;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.card {
    background: #f6d8c0;
    padding: 2.5rem;
    border-radius: 25px;
    box-shadow: 0 10px 30px rgba(81, 59, 86, 0.1);
    width: 100%;
    max-width: 360px;
    text-align: center;
}

.form-title {
    color: #513B56;
    margin-bottom: 8px;
}

.email-highlight {
    color: #513B56;
    font-weight: bold;
    display: block;
    margin-top: 5px;
}
.link-reset{
    padding: 20px;
}

.otp-boxes {
    display: flex;
    gap: 10px;
    justify-content: center;
    margin: 30px 0;
}

.otp-box {
    width: 60px;
    height: 60px;
    border: 2px solid #e0dce2;
    border-radius: 10px;
    font-size: 2rem;
    text-align: center;
    color: #513B56;
}

.otp-box:focus {
    outline: none;
    border-color: #513B56;
}

/* Remove spinner arrows */
.otp-box::-webkit-outer-spin-button,
.otp-box::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.btn-primary {
    width: 100%;
    padding: 14px;
    background-color: #513B56;
    color: white;
    border: none;
    border-radius: 12px;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
}

.btn-primary:hover {
    background-color: #3d2c41;
}